*{
    margin: 0;
    padding:0;
}

body{
    height: 100vh;
    background-image: radial-gradient(circle at 69.75% 92.36%, #473763 0, #352b5e 25%, #1f1f59 50%, #001554 75%, #000950 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 10px 25px 20px rgb(20, 19, 19) ;
    border-style: dashed;
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
    border-radius: 10px;
    letter-spacing: 3px;
}

.relogio span{

    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}

@media (max-width: 497px) {
    .relogio{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 35vh;
        width: 70vw;
        border-radius: 3px;
        box-shadow: 10px 25px 20px rgb(20, 19, 19) ;
        border-style: transparent ;
    }

    .relogio div{
        margin-right: 5px;
    }



}

footer{
    background-color: #1f1f59;
    width: 100%;
    display: flex;
    float: left;
    margin-top: 40vh;
    color: aliceblue;

}